.todo-input {
  padding: 10px 15px;
}

.form-control {
  margin-bottom: 15px;
}

.todo-item-label {
  display: block;
  margin-bottom: 10px;

  @extend .todo-item-label-default;
}

.todo-item {
  display: block;
  width: 100%;
  padding: 10px 15px;

  @extend .todo-item-default;
}

// UI classes
.todo-item-label-default {
  text-align: center;
  font-size: 1.6rem;
}

.todo-item-default {
  text-align: center;
  border: 0;
  border-bottom: 1px solid #333;
}

.btn {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.btn-default {
  @extend .btn;

  background-color: $btn-default-color;
  color: $btn-text-color;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  border-radius: 6px;
  border-bottom: 2px solid darken($btn-default-color, 20%);
}

.alert-msg {
  text-align: center;
}

.alert-confirm-message {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.alert-msg-btn-confirm {
  @extend .btn;

  display: inline-block;
  background-color: $btn-confirm-color;
  color: $btn-text-color;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  border-radius: 6px;
  border-bottom: 2px solid darken($btn-confirm-color, 20%);
  padding: 5px 10px;
  max-width: 80px;
}

.alert-msg-btn-close {
  @extend .btn;

  display: inline-block;
  background-color: $btn-close-color;
  color: $btn-text-color;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  border-radius: 6px;
  border-bottom: 2px solid darken($btn-close-color, 20%);
  padding: 5px 10px;
  max-width: 80px;
}

.alert-msg {
  padding: 10px 15px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
