// COLORS
$bg-color: #f5f5f5;
$todo-bg-color: #FFF;
$box-shadow: #999;
$done-color: #27ae60;


// BUTTONS
$btn-text-color: #FFF;
$btn-default-color: #3498db;
$btn-confirm-color: #40d47e;
$btn-close-color: #e74c3c;
