@import '_variables.scss';
@import 'components/form.scss';
@import 'components/todo-items.scss';

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  background-color: $bg-color;
}

.todo-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 60px auto;
  padding: 15px 0;
  background-color: $todo-bg-color;
  box-shadow: 1px 8px 7px $box-shadow;
}
